<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Todos Login">
    <meta name="author" content="pcollaog">
	<title>Login</title>

	<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
	<div class="container">
		<form action="/login" method="post" class="form-signin">
			<h2 class="form-signin-heading">Ingresa</h2>
			<input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
			<input type="password" class="form-control" name="password" placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
		</form>

		<div class="alert alert-info form-signin">
			Si no tienes tu cuenta, <a href="/register" class="alert-link">Créala Aquí</a>
		</div>
	</div>
</body>
</html>